// PURPLE
$purple-1: #fdfcfe;
$purple-2: #faf8ff;
$purple-3: #f4f0fa;
$purple-4: #ebe4f5;
$purple-5: #e1d9f0;
$purple-6: #d4cbe7;
$purple-7: #c2b5df;
$purple-8: #a899d6;
$purple-9: #8e4ec6; // Brand
$purple-10: #7c3fc4;
$purple-11: #6e32b7;
$purple-12: #2e1065;

// PURPLE ALPHA
$purple-a1: #8e4ec603;
$purple-a2: #8e4ec606;
$purple-a3: #8e4ec60f;
$purple-a4: #8e4ec61b;
$purple-a5: #8e4ec626;
$purple-a6: #8e4ec633;
$purple-a7: #8e4ec64a;
$purple-a8: #8e4ec666;
$purple-a9: #8e4ec6cc;
$purple-a10: #7c3fc4cc;
$purple-a11: #6e32b7cc;
$purple-a12: #2e1065cc;

// PURPLE DARK
$purple-dark-1: #18111b;
$purple-dark-2: #1e1523;
$purple-dark-3: #2a1833;
$purple-dark-4: #37204c;
$purple-dark-5: #42235c;
$purple-dark-6: #4f2672;
$purple-dark-7: #6931a1;
$purple-dark-8: #8e4ec6;
$purple-dark-9: #b744f7;
$purple-dark-10: #c06be6;
$purple-dark-11: #d9aaff;
$purple-dark-12: #f3eaff;

// PURPLE DARK ALPHA
$purple-dark-a1: #8e4ec603;
$purple-dark-a2: #8e4ec606;
$purple-dark-a3: #8e4ec60f;
$purple-dark-a4: #8e4ec61b;
$purple-dark-a5: #8e4ec626;
$purple-dark-a6: #8e4ec633;
$purple-dark-a7: #8e4ec64a;
$purple-dark-a8: #8e4ec666;
$purple-dark-a9: #b744f7cc;
$purple-dark-a10: #c06be6cc;
$purple-dark-a11: #d9aaffcc;
$purple-dark-a12: #f3eaffcc;

// MAUVE
$mauve-1: #fdfcfd;
$mauve-2: #faf9fb;
$mauve-3: #f2eef3;
$mauve-4: #eae7ec;
$mauve-5: #e3dfe6;
$mauve-6: #dbd8e0;
$mauve-7: #d0cdd7;
$mauve-8: #bcbac7;
$mauve-9: #b5b2bc;
$mauve-10: #a1a0aa;
$mauve-11: #86848d;
$mauve-12: #605f66;

// MAUVE ALPHA
$mauve-a1: #b5b2bc03;
$mauve-a2: #b5b2bc06;
$mauve-a3: #b5b2bc0f;
$mauve-a4: #b5b2bc1b;
$mauve-a5: #b5b2bc26;
$mauve-a6: #b5b2bc33;
$mauve-a7: #b5b2bc4a;
$mauve-a8: #b5b2bc66;
$mauve-a9: #b5b2bccc;
$mauve-a10: #a1a0aacc;
$mauve-a11: #86848dcc;
$mauve-a12: #605f66cc;

// MAUVE DARK
$mauve-dark-1: #161618;
$mauve-dark-2: #1c1c1f;
$mauve-dark-3: #232326;
$mauve-dark-4: #28282c;
$mauve-dark-5: #2e2e32;
$mauve-dark-6: #34343a;
$mauve-dark-7: #3e3e44;
$mauve-dark-8: #504f57;
$mauve-dark-9: #706f78;
$mauve-dark-10: #7e7d86;
$mauve-dark-11: #a09fa6;
$mauve-dark-12: #ededef;

// MAUVE DARK ALPHA
$mauve-dark-a1: #b5b2bc03;
$mauve-dark-a2: #b5b2bc06;
$mauve-dark-a3: #b5b2bc0f;
$mauve-dark-a4: #b5b2bc1b;
$mauve-dark-a5: #b5b2bc26;
$mauve-dark-a6: #b5b2bc33;
$mauve-dark-a7: #b5b2bc4a;
$mauve-dark-a8: #b5b2bc66;
$mauve-dark-a9: #706f78cc;
$mauve-dark-a10: #7e7d86cc;
$mauve-dark-a11: #a09fa6cc;
$mauve-dark-a12: #ededefcc;
