.button {
  max-height: 44px; // não sei se essa regra é intencional, mas os botões mesmo que fiquem desalinhados estão  44px de altura. Vide icone de troca de light/dark mode
  border: 0;
  padding: 12px 20px;
  border-radius: 2px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;

  background-color: #8e4ec6;

  &:hover {
    border-radius: 2px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

    background-color: #9a5cd0;
  }

  &:active {
    border-radius: 2px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

    background-color: #8457aa;
  }

  &:disabled {
    gap: 12px;
    border-radius: 2px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

    background-color: #6f6d78;
  }

  &.primary {
    background-color: #8e4ec6;

    &:hover {
      background-color: #9a5cd0;
    }

    &:active {
      background-color: #8457aa;
    }

    &:disabled {
      background-color: #6f6d78;
    }
  }
  &.secondary {
    background-color: #b744f714;

    &:hover {
      background-color: #c150ff2e;
    }

    &:active {
      background-color: #b412f90a;
    }

    &:disabled {
      background-color: #ebeaf814;
    }
  }
}
