.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #12111380;
  color: #fff;
  padding: 14px 1rem;
  z-index: 2;

  &__logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;

    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  nav a {
    color: #fff;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  .wrapper {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
